<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script>
   		L_NO_TOUCH = false;
    	L_DISABLE_3D = false;
	</script>

    <title>indexV1</title>

    <!-- LEAFLET -->
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <link rel="stylesheet" href="{% static "css/mapStylesV1.css" %}" />
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>

            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #petabandung {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>

    <!-- MAIN -->
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap-theme.min.css"/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/stylesV1.css" %}"/>

	<!-- Chart -->
	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

	<!-- Slide Page -->
	<script>
	$(document).ready(function(){
  		$(".btn1").click(function(){
    		$("#content").slideUp();
  		});
  		$(".btn2").click(function(){
    		$("#content").slideDown();
  		});
	});
	</script>
</head>

<body>
<div class="wrapper">
  <nav class="navbar navbar-expand-sm bg-info navbar-dark">
    <a class="navbar-brand" href="#">BANDUNG HEALTH GEOGRAPHICAL INFORMATION SYSTEM</a>
    <div class="navbar-nav ml-auto">
      <!-- Button to Open the Modal -->
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Help</button>
      <!-- The Modal -->
      <div class="modal fade" id="myModal">
        <div class="modal-dialog">
          <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
              Beri imbuhan "Puskesmas" untuk penulisan wilayah kerja puskesmas
            </div>
            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Account -->
      <div class="dropdown">
        <button type="button" class="btn dropdown-toggle btn-info" data-toggle="dropdown">User</button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Settings</a>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </div>
    </div>
  </nav>

<!-- Main Content -->
<div class="container-fluid" id="content">
  <div class="row">
    <div class="col-sm-2 bg-dark text-white scrollbar scrollbar-info">
      <div>
        <h5><strong><u>Filter Option</u></strong></h5>
      </div>
      <form autocomplete="off">
        <ul class="list-group list-group-flush">
          <!-- Filter Wilayah -->
          <li class="list-group-item list-group-item-dark">Wilayah:
            <div class="autocomplete" style="width:100%;">
              <input id="InputWlyh" type="text" name="Wilayah" placeholder="Kecamatan/ Puskesmas" value="Kecamatan" class="form-control form-control-sm">
            </div>
          </li>
          <!-- Filter Penyakit -->
          <li class="list-group-item list-group-item-dark">Penyakit:
            <div class="autocomplete" style="width:100%;">
              <input id="InputPnykt" type="text" name="Penyakit" placeholder="Penyakit" value="Semua Penyakit" class="form-control form-control-sm">
            </div>
          </li>
          <!-- Filter Jenis Kelamin -->
          <li class="list-group-item list-group-item-dark">Jenis Kelamin:
            <select class="form-control form-control-sm" name="JenisKelamin">
              <option>Semua jenis</option>
              <option>Laki-laki</option>
              <option>Perempuan</option>
            </select>
          </li>
          <!-- Filter Umur -->
          <li class="list-group-item list-group-item-dark">Umur:
            <div class="col-sm-14">
              <select class="form-control form-control-sm" name="UmurInit">
                <option>0 Hari</option>
                <option>1 Minggu</option>
                <option>1 Bulan</option>
                <option>1 Tahun</option>
                <option>4 Tahun</option>
                <option>9 Tahun</option>
                <option>14 Tahun</option>
                <option>19 Tahun</option>
                <option>44 Tahun</option>
                <option>54 Tahun</option>
                <option>59 Tahun</option>
                <option>69 Tahun</option>
                <option>>70 Tahun</option>
              </select> s/d
              <select class="form-control form-control-sm" name="UmurEnd">
                <option>>70 Tahun</option>
                <option>1 Minggu</option>
                <option>1 Bulan</option>
                <option>1 Tahun</option>
                <option>4 Tahun</option>
                <option>9 Tahun</option>
                <option>14 Tahun</option>
                <option>19 Tahun</option>
                <option>44 Tahun</option>
                <option>54 Tahun</option>
                <option>59 Tahun</option>
                <option>69 Tahun</option>
              </select>
            </div>
          </li>
          <!-- Filter Periode -->
          <li class="list-group-item list-group-item-dark">Periode:
            <div class="form-group">
              <input type="date" name="initdate" class="form-control form-control-sm">s/d
              <input type="date" name="endtdate" class="form-control form-control-sm">
            </div>
          </li>
        </ul>
        <input type="submit" class="btn btn-sm btn-outline-info">
      </form> <br>
    </div>
    <!-- Peta -->
    <div class="col-sm-10 bg-dark">
      <div class="folium-map" id="petabandung" >
    </div>
  </div>
</div>
</div>

<!-- Diagram -->
<div class="container-fluid bg-dark">
  <button class="btn1 btn-info">Open Analysis</button>
  <button class="btn2 btn-info">Close Analysis</button>
  <div class="row">
    <div class="col-md-4" style="height=5px;">
      <canvas id="myChart1"></canvas>
    </div>
    <div class="col-md-4" style="height=5px;">
      <canvas id="barChart"></canvas>
    </div>
    <div class="col-md-4" style="height=5px;">
      <canvas id="pieChart"></canvas>
    </div>
    <div class="col-md-4" style="height=5px;">
      <canvas id="myChart2"></canvas>
    </div>
    <div class="col-md-4" style="height=5px;">
      <canvas id="lineChart"></canvas>
    </div>
  </div>
</div>
</div>

<script type="text/javascript" src="{% static "js/autocomplete.js" %}"></script>
<script type="text/javascript" src="{% static "js/map.js" %}"></script>
<script type="text/javascript" src="{% static "js/diagram.js" %}"></script>

</body>
</html>
